n8n-workflow/2-daily-reminders.json
{
  "name": "TaskFlow · Daily Reminders (Discord)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      },
      "id": "schedule",
      "name": "Every day 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-20, 300]
    },
    {
      "parameters": {
        "url": "https://buildablelabs-assesment-1.onrender.com/api/tasks/reminders",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "YOUR_BACKEND_API_KEY" }] },
        "options": {}
      },
      "id": "get-reminders",
      "name": "Get Due / Overdue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-tasks",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "options": {}
      },
      "id": "if-any",
      "name": "Any tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const tasks = $json.data || [];\nconst now = Date.now();\nconst dot = p => p === 'high' ? '🔴' : p === 'medium' ? '🟡' : '🟢';\nconst line = t => `• ${dot(t.priority)} ${t.title}` + (t.due_at ? ` — ${new Date(t.due_at).toLocaleString()}` : '');\nconst overdue = tasks.filter(t => t.due_at && new Date(t.due_at).getTime() < now);\nconst today = tasks.filter(t => !overdue.includes(t));\nlet content = `**⏰ TaskFlow — ${tasks.length} task(s) need attention**`;\nif (overdue.length) content += `\\n\\n__⚠️ Overdue (${overdue.length})__\\n` + overdue.map(line).join('\\n');\nif (today.length) content += `\\n\\n__📅 Due today (${today.length})__\\n` + today.map(line).join('\\n');\nreturn { json: { content: content.slice(0, 1900), ids: tasks.map(t => t.id) } };"
      },
      "id": "build-message",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}",
        "options": {}
      },
      "id": "discord",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://buildablelabs-assesment-1.onrender.com/api/tasks/reminders/mark",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_BACKEND_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ids: $('Build Reminder Message').item.json.ids }) }}",
        "options": {}
      },
      "id": "mark",
      "name": "Mark Reminded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 220]
    }
  ],
  "connections": {
    "Every day 09:00": { "main": [[{ "node": "Get Due / Overdue", "type": "main", "index": 0 }]] },
    "Get Due / Overdue": { "main": [[{ "node": "Any tasks?", "type": "main", "index": 0 }]] },
    "Any tasks?": { "main": [[{ "node": "Build Reminder Message", "type": "main", "index": 0 }], []] },
    "Build Reminder Message": { "main": [[{ "node": "Post to Discord", "type": "main", "index": 0 }]] },
    "Post to Discord": { "main": [[{ "node": "Mark Reminded", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
